config.*
.rebar3
_build
_checkouts
_vendor
data
.eunit
*.o
*.so
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
rebar3.crashdump
*~
/venv
__pycache__

*.json
!.vscode/*

*.bin
.vscode/c_cpp_properties.json

native/hb_beamr/*.o
native/hb_beamr/*.d

attestation_sdk.log
verifier.log

!native/dev_sev_gpu/NVGPULocalv4Policy.json
priv/*
.DS_STORE
cache-*

*.dot
*.svg
*.wat
*.gguf

cu/
mkdocs-site/
mkdocs-site-id.txt
mkdocs-site-manifest.csv

!test/admissible-report-wallet.json
!test/admissible-report.json
!test/config.json