[Unit]
Description=HyperBEAM Service
After=network.target

[Service]
Type=simple
User=hyperbeam
Group=hyperbeam
WorkingDirectory=/opt/load_hb
Environment=HOME=/opt/load_hb
ExecStart=/usr/bin/erl -pa _build/default/lib/*/ebin -eval "application:ensure_all_started(hb)."
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
