global:
  scrape_interval: 15s  # Scrape targets 15s

scrape_configs:
  - job_name: 'docker'
    metrics_path: '/~hyperbuddy@1.0/metrics'
    static_configs:
      - targets: ['host.docker.internal:8734']

remote_write:
  - url: ${REMOTE_WRITE_URL}
    basic_auth:
      username: ${PROMETHEUS_USERNAME}
      password: ${PROMETHEUS_PASSWORD}
